.question-form {
    width: 60%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 3%;
    /* padding-top: 20%; */
}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 8px;
}

.add-section, .submit-button {
    background-color: #4285f4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}

.add-section:hover, .submit-button:hover {
    background-color: #357ae8;
}

.section, .subsection {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
    background-color: #fff;
}

.section h3 {
    color: #4285f4;
    font-weight: bold;
    margin: 0 0 10px;
}

.subsection label {
    font-weight: bold;
    margin-right: 5px;
}


















