

.submission-list {
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

h2 {
    color: #333; 
    margin-bottom: 20px; 
}

.loading-message,
.error-message {
    color: #ff4757;
    font-weight: bold; 
}

.submission {
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 15px; 
    margin-bottom: 15px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.submission h3 {
    margin-top: 0; 
    color: #444; 
}

pre {
    background-color: #f2f2f2;
    padding: 10px; 
    border-radius: 4px; 
    overflow-x: auto; 
    white-space: pre-wrap; 
}
.h2{
    padding-left: 25%;
}

